@model skietbaanAPIAndScoreSite.Models.shoot

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Shoot</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.msisdn, "Shooter", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("msisdn", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.msisdn, "", new { @class = "text-danger" })
            </div>
            <div  class="col-md-2">
                @Html.ActionLink("New", "../shootersDetail/Index")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.entrydate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.entrydate, new { htmlAttributes = new {@id= "datepicker", @class = "datepicker" } })
                @Html.ValidationMessageFor(model => model.entrydate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fkcompetition, "Compitition", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("fkcompetition", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.fkcompetition, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.score, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.score, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.score, "", new { @class = "text-danger" })
            </div>
        </div>

     

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {

    <script>
       
    </script>
}*@
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">

    var $j = jQuery.noConflict(true);
    $j("#datepicker").datepicker();

    $(document).ready(function () {
        var divLength = $('div').length;
        alert(divLength);
    });

    $('.datepicker').datepicker({
        showOn: "both",
        buttonImage: "../public/images/Calendar_16x16.png",
        buttonImageOnly: "true"
    });
   
</script>

